
\#*
*~
.#*
\#*\#

/CouchbaseLiteProject/CouchbaseLiteProject/build/
/CouchbaseLiteProject/.gradle/
/CouchbaseLiteProject/.idea/workspace.xml
/CouchbaseLiteProject/CBLite/build/
.DS_Store
/CouchbaseLiteProject/CBLite/src/instrumentTest/assets/local-test.properties
/CouchbaseLiteProject/CBLite/dependencies-test.gradle
/CouchbaseLiteProject/CBLiteEktorp/build/

*.class


/CouchbaseLiteProject/CBLiteJavascript/build/
/CouchbaseLiteProject/testrepo/