[submodule "libraries/couchbase-lite-java-core"]
	path = libraries/couchbase-lite-java-core
	url = https://github.com/couchbase/couchbase-lite-java-core.git
[submodule "libraries/couchbase-lite-java-forestdb"]
	path = libraries/couchbase-lite-java-forestdb
	url = https://github.com/couchbaselabs/couchbase-lite-java-forestdb.git
[submodule "libraries/couchbase-lite-java-native"]
	path = libraries/couchbase-lite-java-native
	url = https://github.com/couchbase/couchbase-lite-java-native
