## This is a template for the local.properties file that must
# be at the root of each build, and must not be checked in to git
# as it contains information specific to your local configuration.
#
# Location of the SDK. This is only used by Gradle.
sdk.dir=${ANDROID_HOME}
ndk.dir=${ANDROID_HOME}/ndk/20.1.5948944
cmake.dir=${ANDROID_HOME}/cmake/3.10.2.4988404
